

<div class="row p-3">
    <!-- CHART -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title custom-heading">User Types Site Entries Statistics:</h3>
        </div>
        <div class="box-body">
            <div class="chart">
                <div class="row justify-content-between">
                    <div class="col" id="graphId" name="graphId" style="width: 900px; height: 600px; margin:auto;"></div>
                    <div class="col" id="graphId2" name="graphId2" style="width: 900px; height: 600px; margin:auto;"></div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>