@using ECommerceSystem.Utilities;
@using ECommerceSystem.Models;
@model PresentationLayer.Models.AddProductModel
@{
    ViewData["Title"] = "Add Product";
}
<div class="container">
    <div class="register-page">
        <a type="button" class="bttn btn-ripple login-btn px-lg-4 m-1" style="width: 20%" href="javascript:void(0);" id="backLink">
            <i class="fas fa-arrow-circle-left"></i>
            Go Back
        </a>
        <h2 style="font-family: Roboto">@ViewData["Title"] - @ViewData["StoreName"]</h2>
        <div class="form" style="text-shadow" method="post">
            <form asp-controller="Owner" asp-action="AddProduct" class="login-form" method="post">
                @if (!ViewContext.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                }
                <div class="form-group">
                    <label style="text-align: left" for="username">Name</label>
                    <input type="text" class="form-control" placeholder="Product Name" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label style="text-align: left" for="password">Description</label>
                    <textarea type="text" class="form-control" rows="4" asp-for="Description"> </textarea>
                </div>
                <div class="row">
                    <div class="form-group name1 col-md-6">
                        <label class="row-form-label" style="text-align: left" for="password">Base Price</label>
                        <input type="number" placeholder="Base Price" asp-for="BasePrice" />
                    </div>
                    <div class="form-group name1 col-md-6">
                        <label class="row-form-label" style="text-align: left" for="password">Discounted Price</label>
                        <input type="number" placeholder="Discounted Price" asp-for="PriceWithDiscount" />
                    </div>
                </div>
                <div class="form-group w-50">
                    <label style="text-align: left" for="password">Quantity</label>
                    <input type="number" class="form-control" placeholder="Quantity" asp-for="Quantity" />
                </div>
                <div class="form-group w-50">
                    <label style="text-align: left" for="password">Category</label>
                    <select type="button" asp-for="Category" class="dropdown-menu form-control" role="menu">
                        @foreach (var category in EnumMethods.GetValues(typeof(Category))) 
                        { 
                            <option value="@category" class="dropdown-item">@category</option>
                        }
                    </select>
                </div>

                <button type="submit" class="w-50">Add Product</button>
            </form>
        </div>
    </div>
</div>