<!--Navbar-->
<div class="row-2 shadow">

    <partial name="_UserControls" />

    <nav class="navbar navbar-expand-lg mb-4 navbar-colors">

        <!-- Navbar brand -->
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.png" asp-append-version="true">
        </a>

        <!-- Links -->
        <ul class="navbar-nav mr-auto font h5">
            <li class="nav-item active">
                <button style="width: 150px" type="button" class="btn btn-outline-primary m-1" onclick="location.href='@Url.Action("ProductListing", "Product")'">
                    <i class="fas fa-boxes"></i> Products
                </button>
            </li>
            <li class="nav-item">
                <button style="width: 150px" type="button" class="btn btn-outline-primary m-1" onclick="location.href='@Url.Action("Index", "Store")'">
                    <i class="fas fa-store-alt"></i> Stores
                </button>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <button style="width: 150px" type="button" class="btn btn-outline-primary m-1" onclick="location.href='@Url.Action("UserStoreList", "Store")'">
                        <i class="fas fa-house-user"></i> My Stores
                    </button>
                </li>
            }
        </ul>
        <!--/Links-->
        <div class="justify-content-between">
            <partial name="_Search" />
        </div>
    </nav>
</div>
<!--/.Navbar-->


