<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Commerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="~/css/auth/auth.css">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
</head>
<body>
    <header class="navbar-expand">
        <partial name="_Header" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <!--Scroll Top-->
            <div class="justify-content-center text-center align-items-center text-" id="scrollPageTop" title="Back to top" href="#">
                <i class="fas fa-angle-up"></i>
            </div>
            <!--/Scroll Top-->
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PresentationLayer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
