<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="~/css/auth/auth.css">
    <link rel="stylesheet" type="text/css" href="~/css/listing/product_page.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header class="navbar-expand">
        <partial name="_Header" />
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <!--Scroll Top-->
            <div class="justify-content-center text-center align-items-center text-" id="scrollPageTop" title="Back to top" href="#">
                <i class="fas fa-angle-up"></i>
            </div>
            <!--/Scroll Top-->
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <partial name="_Footer" />
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/session.js" asp-append-version="true"></script>
    <script src="~/js/notification.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
