<!-- Search form -->
<div style="width: 100%">
    <form style="width: 100%" class="form-inline" asp-controller="Product" asp-action="ProductListing" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: aliceblue">Search by:</span>
            </div>
            <div class="input-group-prepend">
                <select type="button" name="searchType" class="input-group-prepend search-input" style="width: 120px" role="menu" style="color: black">
                    <option value="Name" class="dropdown-item">Name</option>
                    <option value="Category" class="dropdown-item">Category</option>
                    <option value="Keywords" class="dropdown-item">Keywords</option>
                </select>
            </div>
            <input name="searchInput" class="search-input form-control my-0 py-1" style="width: 500px" type="text" placeholder="Search Products" aria-label="Search">
            <div class="input-group-append">
                <button type="submit" class="bttn search-btn btn-ripple px-3 btn-default">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!--/ Search form-->